@model MN_WEB.Entities.CursoEnt

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AgregarCurso", "Curso", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row">

        <div class="col-xl-12">

            <div class="card card-default">

                <div class="card-header">
                    <h2>Agregar Curso</h2>
                </div>

                @if (ViewBag.MsjPantalla != null)
                {
                    <div style="color:white" class="alert alert-primary" role="alert">
                        @ViewBag.MsjPantalla
                    </div>
                }

                <div class="card-body">
                    <div class="media media-sm">
                        <div class="media-body">
                            <div class="row">

                                <div class="col-lg-10">

                                    <div class="form-group col-md-12 mb-4">
                                        @Html.TextBoxFor(m => m.Nombre, new { @type = "text", @class = "form-control input-lg", @placeholder = "Nombre" })
                                    </div>
                                    <div class="form-group col-md-12 mb-4">
                                        @Html.TextAreaFor(m => m.Descripcion, new { @type = "text", Style = "heigth:100px", @class = "form-control input-lg", @placeholder = "Descripción" })
                                    </div>
                                    <div class="form-group col-md-12 mb-4">
                                        @Html.TextBoxFor(m => m.Instructor, new { @type = "text", @class = "form-control input-lg", @placeholder = "Instructor" })
                                    </div>
                                    <div class="form-group col-md-12 mb-4">
                                        @Html.TextBoxFor(m => m.Precio, new { @type = "number", @class = "form-control input-lg", @placeholder = "Precio" })
                                    </div>
                                    <div class="form-group col-md-12 mb-4">
                                        @Html.TextBoxFor(m => m.Video, new { @type = "text", @class = "form-control input-lg", @placeholder = "Video" })
                                    </div>

                                    <div class="form-group col-md-12 mb-4">
                                        <input type="file" id="imagenCurso" name="imagenCurso" class="form-control" accept="image/png, image/jpg, image/jpeg">
                                    </div>

                                        <div class="d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary mb-2 btn-pill">Procesar</button>
                                        </div>

                                    </div>

                                </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

}

