@model IEnumerable<MN_WEB.Entities.CarritoEnt>

@{
    ViewBag.Title = "VerCarritoCompras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-xl-12">

        <div class="card card-default">

            <div class="card-header">
                <h2>Cursos Agregados</h2>
            </div>

            @if (Model.Count() == 0)
            {
                <div style="color:white; text-align:center" class="alert alert-primary" role="alert">
                    No hay cursos por cancelar en este momento...
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-10">

                        <table class="table table-bordered">
                            <thead>
                                <tr style="text-align:center">
                                    <th>Nombre</th>
                                    <th>Instructor</th>
                                    <th>Precio</th>
                                    <th>Impuesto</th>
                                    <th>Remover</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Nombre</td>
                                        <td>@item.Instructor</td>
                                        <td>@Math.Round(item.Precio, 2)</td>
                                        <td>@Math.Round(item.Impuesto, 2)</td>
                                        <td style="text-align:center">
                                            <a href="@Url.Action("RemoverCursoCarrito","Carrito", new { q = item.IdCarrito })"><i class="fa fa-trash fa-lg"></i></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>

                        </table>

                        <br />

                        @using (Html.BeginForm("ConfirmarPago", "Carrito", FormMethod.Post))
                        {
                            <input style="width:260px" type="submit" class="btn btn-success" value="Confirmar Pago">
                            <p style="font-weight:bold">El monto a cancelar es: $ @Math.Round(decimal.Parse(Session["Total"].ToString()), 2) IVI</p>
                        }

                    </div>
                </div>

            }

            <br />
            <br />

        </div>
    </div>
</div>

