<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GO CLASS</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
    <link href="~/WebStyles/plugins/material/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/WebStyles/plugins/simplebar/simplebar.css" rel="stylesheet" />
    <link href="~/WebStyles/plugins/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/WebStyles/css/style.css" id="main-css-href" rel="stylesheet" />
    <script src="~/WebStyles/plugins/nprogress/nprogress.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>


<body class="navbar-fixed sidebar-fixed" id="body">

    <div class="wrapper">

        @*Menú Principal*@
        <aside class="left-sidebar sidebar-dark" id="left-sidebar">
            <div id="sidebar" class="sidebar sidebar-with-footer">
                <div class="app-brand">
                    <a href="@Url.Action("Principal","Home")">
                        <img src="~/WebStyles/images/logo.png" alt="Mono">
                        <span class="brand-name">GO CLASS</span>
                    </a>
                </div>

                <div class="sidebar-left" data-simplebar style="height: 100%;">
                    <ul class="nav sidebar-inner" id="sidebar-menu">

                        @if (Session["IdRolSesion"].ToString() == "1")
                        { 
                            <li>
                                <a class="sidenav-item-link" href="@Url.Action("ConsultarUsuarios","Usuario")">
                                    <i class="mdi mdi-wechat"></i>
                                    <span class="nav-text">Usuarios</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidenav-item-link" href="@Url.Action("ConsultarMantCursos","Curso")">
                                    <i class="mdi mdi-phone"></i>
                                    <span class="nav-text">Cursos</span>
                                </a>
                            </li>
                        }

                        <li>
                            <a class="sidenav-item-link" href="@Url.Action("VerCarritoCompras","Carrito")">
                                <i class="mdi mdi-phone"></i>
                                <span class="nav-text">Pagar</span>
                            </a>
                        </li>
                        <li>
                            <a class="sidenav-item-link" href="@Url.Action("ConsultarCompras","Carrito")">
                                <i class="mdi mdi-phone"></i>
                                <span class="nav-text">Mis Cursos</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>

        <div class="page-wrapper">

            @*Header*@
            <header class="main-header" id="header">
                <nav class="navbar navbar-expand-lg navbar-light" id="navbar">

                    <button id="sidebar-toggler" class="sidebar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                    </button>

                    <span class="page-title"></span>

                    <div class="navbar-right ">
                        <div class="search-form">
                            <form action="index.html" method="get">
                                @*<div class="input-group input-group-sm" id="input-group-search">
                                    <input type="text" autocomplete="off" name="query" id="search-input" class="form-control" placeholder="Buscar" />
                                </div>*@
                            </form>
                        </div>

                        <i class="fa fa-cart-plus fa-lg"></i> &nbsp;&nbsp; @Session["Cantidad"].ToString() &nbsp;&nbsp;
                        <i class="fa fa-money fa-lg"></i> &nbsp;&nbsp; @Session["SubTotal"].ToString() + IVA &nbsp;&nbsp;

                        <ul class="nav navbar-nav">
                            <li class="dropdown user-menu">
                                <button class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <span class="d-none d-lg-inline-block">@Session["NombreSesion"].ToString()</span>
                                    @Session["RolSesion"].ToString()
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a class="dropdown-link-item" href="@Url.Action("Cambiar","Usuario")">
                                            <i class="mdi mdi-account-outline"></i>
                                            Cambiar Contraseña
                                        </a>
                                    </li>
                                    <li class="dropdown-footer">
                                        <a class="dropdown-link-item" href="@Url.Action("CerrarSesion","Usuario")">
                                            <i class="mdi mdi-logout"></i> Cerrar Sesión
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <div class="content-wrapper">
                <div class="content">

                    @*Contenido*@
                    @RenderBody()

                </div>
            </div>

            @*Footer*@
            <footer class="footer mt-auto">
                <div class="copyright bg-white">
                    <p>
                        &copy; @DateTime.Now.Year Copyright GO CLASS
                    </p>
                </div>
            </footer>

        </div>
    </div>

    <script src="~/WebStyles/plugins/jquery/jquery.min.js"></script>
    <script src="~/WebStyles/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/WebStyles/plugins/simplebar/simplebar.min.js"></script>
    <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
    <script src="~/WebStyles/js/mono.js"></script>
    <script src="~/WebStyles/js/chart.js"></script>
    <script src="~/WebStyles/js/map.js"></script>
    <script src="~/WebStyles/js/custom.js"></script>

</body>
</html>