@model IEnumerable<MN_WEB.Entities.UsuarioEnt>

@{
    ViewBag.Title = "ConsultarUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-xl-12">

        <div class="card card-default">

            <div class="card-header">
                <h2>Usuarios</h2>
            </div>


            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-10">

                    <table class="table table-bordered">
                        <thead>
                            <tr style="text-align:center">
                                <th>Identificación</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Rol</th>
                                <th>Estado</th>
                                <th>Editar</th>
                                <th>Cambiar Estado</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Identificacion</td>
                                    <td>@item.Nombre</td>
                                    <td>@item.CorreoElectronico</td>
                                    <td>@item.NombreRol</td>
                                    @if (item.Estado == true)
                                    {
                                        <td>Activo</td>
                                    }
                                    else
                                    {
                                        <td>Inactivo</td>
                                    }
                                    <td style="text-align:center">
                                        <a href="@Url.Action("Editar","Usuario", new { q = item.IdUsuario })"><i class="fa fa-pencil fa-lg"></i></a>
                                    </td>
                                    <td style="text-align:center">
                                        <a href="@Url.Action("CambiarEstado","Usuario", new { q = item.IdUsuario })"><i class="fa fa-exchange fa-lg"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>

                    </table>

                </div>
            </div>
            <br />
            <br />

        </div>
    </div>
</div>
